@import 'common/reset';

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
  min-height: 100%;
}

.shopping-cart {
  height: 100%;
  min-height: 100%;
}